<div>

  <button (click)="addTask()" type="button" class="btn btn-primary">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
    </svg>  Add Task
  </button>
</div>

<div>

  <button (click)="markComplete()" type="button" class="btn btn-primary">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
    </svg>  Mark Complete Selected
  </button>
</div>


<!--Active tasks-->

<!--<div>
  <h3>Project</h3>
  <span> {{projectTaskList[0].projectName}}</span>
</div>-->

<div class="accordion">
  <br />
  <h3>Active Tasks</h3>
  <table class="table table-hover" data-resizable="true">
    <thead>
      <tr id="task-table-headers">
        <th scope="col"></th>
        <th scope="col">Task Name</th>
        <th scope="col">Description</th>
        <!--<th scope="col">Due Date</th>-->
        <th scope="col">Assigned</th>
        <th scope="col">Priority</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasksList">
        <!--[(ngModel)]="task.selected"-->
        <th scope="row"><input [(ngModel)]="task.selected" class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="..."></th>
        <td>{{task.name}}</td>
        <td>{{task.description}}</td>
        <!--        <td>{{task.dueDate | date}}</td>-->
        <td>{{task.assignedFirstName}} {{task.assignedLastName}}</td>
        <td>{{task.priority}}</td>
      </tr>
    </tbody>
  </table>

</div>
<!--Completed Tasks-->

<div>
  <br />
  <h3>Completed Tasks</h3>
  <table class="table" data-resizable="true">
    <thead>
      <tr id="task-table-headers">
        <th scope="col"></th>
        <th scope="col">Task Name</th>
        <th scope="col">Description</th>
        <!--        <th scope="col">Due Date</th>-->
        <th scope="col">Assigned</th>
        <th scope="col">Priority</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of completedTasksList" class="table-secondary">
        <th scope="row"></th>
        <td>{{task.name}}</td>
        <td>{{task.description}}</td>
        <!--        <td>{{task.dueDate | date}}</td>-->
        <td>{{task.assignedFirstName}} {{task.assignedLastName}}</td>
        <td>{{task.priority}}</td>
      </tr>
    </tbody>


  </table>

</div>

